@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
:root {
  font-family: "Fira Code", monospace;
  line-height: 1.5;
  margin: 0 auto; /* Centriranje */
  width: 100%;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 16px;
  color-scheme: light dark;
  color: var(--main-text-color);
  background-color: #ffffff;
  --main-text-color:#0f1a52;
  --secondary-text-color:rgb(190, 8, 63);
  --secondary-link-color:rgb(217, 0, 246);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container{
  width: 90%;
  margin: 0 auto;
}
a {
  color: var(--main-text-color);
  text-decoration: none;
  padding: 3px;
}
a.logo-a{
  font-weight: 600;
  transition: 0.3s all linear;
}
a:not(.logo-a){
  transition: 0.2s all linear;
}
a:hover{
  color: var(--secondary-text-color);
  transform: translate(10px);
}
a:not(.logo-a):hover{
  color: var(--secondary-link-color);
}

body {
  margin: 0;
  min-height: 100vh;
}
.logo-a{
  font-size: 1.8em;
}
img{
  max-width: 100%;
}

button {
  border-radius: 100% 0 100% 0;
  padding: 20px 30px;
  border: 1px solid transparent;
  font-size: 1em;
  background-color: var(--secondary-text-color);
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--secondary-text-color);
}
body.dark-mode{
  color: white;
}
body.dark-mode .hashtag{
  color: yellow;
}
.enh{
  color: var(--secondary-text-color);
}
.btn-two {
	color: #FFF;
	transition: all 0.5s;
	position: relative;	
}
.btn-two span {
	z-index: 2;	
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;	
}
.btn-two::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 2px solid rgba(190, 8, 63,0.5);
	background-color: rgba(190, 8, 63,0.4);
}
.btn-two::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 2px solid rgba(190, 8, 63,0.5);
	background-color: rgba(190, 8, 63, 0.4);
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(190, 8, 63,0);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(190, 8, 63,0);
}
div[class*=box] {
	height: 33.33%;
  display: inline-block;
  display: flex;
  align-items: center;
}
.btn {
  margin-top: 50px;
	line-height: 65px;
  font-weight: 800;
	height: 65px;
	text-align: center;
	width: 200px;
  max-width: 50%;
	cursor: pointer;
  font-size: 14px;
  color: #0f1a52;
}
@media(max-width:400px){
  .btn {
    margin-top: 50px;
    line-height: 45px;
    font-weight: 800;
    height: 45px;
    text-align: center;
    width: 150px;
    max-width: 50%;
    cursor: pointer;
    font-size: 14px;
    color: #0f1a52;
  }
  :root {
    width: 460px;
  }
}
body.dark-mode .btn{
  color: white;
}
@media (prefers-color-scheme: dark) {
  :root {
    color: var(--secondary-text-color);
    background-color:#282C33;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  
}
